.navbar{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
ul{
    list-style: none;
    background-color: chocolate;
    padding:10px;
}
li{
    background-color: white;
    padding:10px;
    border-radius:10px;
}

li:hover {
  background-color: lightgray;
  color: black;
}

.link {
  color: inherit;
  text-decoration: none;
}